<!-- Blog -->
<section class="field">
    <h1>Blog</h1>
    <ul class="l-list--undecorated">
    <% blog("writing").articles[0...2].each do |article| %>
        <li class="reference">
            <h2><%= link_to article.title, article %></h2>
            <p><%= lorem.sentences rand(2...4) %></p>
            <%= link_to "Read more &rsaquo;", article %>
        </li>
        <%= render_partial "photo" %>
    <% end %>
    </ul>
    <%= link_to "More blog posts &rsaquo;", "blog" %>
</section>
