<%
  # Main Footer component
  # -> the footer appearing at the bottom of every page
%>

<!-- Contact us -->
<% component 'panel', locals: { theme: 'dark' } do %>
  <% component 'wrapper', locals: { width: 'narrow' } do %>
    <h1 class="t-align-center padding-bottom">Contact us</h1>
     <p>We’re based in the Washington DC Metro Area but serve clients globally. We’d love to hear about your ideas and the problems you want to solve. Let’s get the conversation started.</p>

    <ul class="list-undecorated padding-top">
      <% data.site.locations.each_with_index do |location, index| %>
        <li class="margin-y-between">
          <h2 class="t-scale-delta padding-bottom-xxnarrow c-highlight"><%= location.name %></h2>
          <p><%= location.address %></p>
        </li>
      <% end %>
    </ul>

    <div class="margin-top padding-top border-top">
      <div data-ui-bookend="horizontal@small" data-ui-gutter="flush">
        <div data-ui-bookend-item="left" data-ui-gutter-item>
          <div data-ui-gutter="flush narrow">
            <div data-ui-gutter-item class="display-inline-block"><%= component 'button_link', locals: { label: 'Send us a message', url: "mailto:#{data.site.email}" } %></div>
            <p data-ui-gutter-item class="display-inline-block"><%= data.site.email %></p>
          </div>
        </div>
        <div data-ui-bookend-item="right" data-ui-gutter-item>
          <div data-ui-gutter="flush xxnarrow">
            <h2 data-ui-gutter-item class="t-font-body t-scale-epsilon c-text-tertiary display-inline-block">Say hi:</h2>
            <ul data-ui-gutter-item class="list-inline display-inline-block">
              <% data.site.social.each do |channel| %>
              <li class="list-inline-item padding-x-between-xxnarrow">
                <% link_to channel.url, target: '_blank', title: "Say hi on #{channel.name}" do %>
                  <% component 'icon', locals: { id: channel.icon, title: channel.name, role: 'img' } %>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<footer data-ui-gutter class="c-theme-dark c-well border-top" role="contentinfo">
  <div data-ui-bookend="horizontal@xsmall">
    <div data-ui-bookend-item="left">
      <% link_to '/', data: { 'ui-gutter-item': '' }, class: 't-align-center t-align-left@xsmall', style: 'max-width: 4rem;' do %>
        <%= image_tag 'logos/logo-bivee-reverse-bw.svg', alt: 'Bivee' %>
      <% end %>
    </div>
    <small data-ui-bookend-item="right" data-ui-gutter-item class="l-margin-top-narrow l-no-margin@xsmall t-align-center t-align-right@xsmall t-scale-eta c-text-tertiary">
      &copy; Copyright <%= Time.now.year %> Bivee Inc. All rights reserved.
    </small>
  </div>
</footer>
