<%
  # Main Header component
  # -> the header appearing at the top of every page

  # Locals:
  back ||= '/' # STRING (optional): where the back button should point
  hide_contact ||= false # BOOLEAN (optional): show a contact button?
  overlay ||= false # BOOLEAN (optional): turn on 'overlay' styles for the header
  size ||= 'default' # STRING (optional): 'large' (for homepage) or 'default'
  theme ||= false # STRING (optional): color theme
  classes ||= false # STRING (optional): any additional classes to pass in
  borders ||= false # STRING/ARRAY (optional): sides you want borders on
  logo_color ||= 'red' # STRING (optional): color the logo icon should be

  # Private:
  padding = size == 'default' ? { x: 'medium', y: 'narrow' } : { x: 'medium', y: 'wide' }

  props = [
    ("overlay" if overlay),
    (size unless size == 'default')
  ]

  utils = [
    padding_classes(padding),
    (border_classes(borders) if borders),
    ("c-theme-#{theme}" if theme)
  ]
%>

<header data-ui-main-header<%= props_list(props) %><%= class_list(utils) %> role="banner">
  <div data-ui-bookend="horizontal">
    <!-- back button -->
    <% unless current_page.data.title == "home" %>
      <div data-ui-bookend-item="left">
        <% link_to back, class: 'display-inline-block c-text-secondary t-scale-zeta' do %>
          <%= component 'icon', locals: { id: 'arrow-left', space: 'right' } %>
          <span class="t-font-display t-weight-bold">Home</span>
        <% end %>
      </div>
    <% end %>

    <!-- logo -->
    <div data-ui-bookend-item="center" class="t-align-center">
      <% link_to '/', class: 'display-inline-block' do %>
        <%= image_tag "logos/logo-bivee-#{logo_color}-reverse.svg", class: 'display-inline-block', alt: 'Bivee', style: size == 'default' ? 'max-width: 5em;' : 'max-width: 8em;' %>
      <% end %>
    </div>

    <!-- contact button -->
    <% unless hide_contact %>
      <div data-ui-bookend-item="right">
        <%= link_to "Contact us", "mailto:#{data.site.email}", data: { 'ui-button': 'small' } %>
      </div>
    <% end %>
  </div>
</header>
