<%
  # Main Footer component
  # -> the footer appearing at the bottom of every page
%>

<!-- Contact us -->
<% component 'panel', locals: { theme: 'dark' } do %>
  <% component 'wrapper', locals: { width: 'narrow' } do %>
    <h1 class="t-align-center padding-bottom">Contact us</h1>
     <p>We’re based in the Washington DC Metro Area but serve clients globally. We’d love to hear about your ideas and the problems you want to solve. Let’s get the conversation started.</p>

    <ul class="list-undecorated padding-top">
      <% data.site.locations.each_with_index do |location, index| %>
        <li class="margin-y-between">
          <h2 class="t-scale-delta padding-bottom-xxnarrow c-highlight"><%= location.name %></h2>
          <p><%= location.address %></p>
        </li>
      <% end %>
    </ul>

    <div class="margin-top padding-top border-top">
      <div data-ui-bookend="horizontal">
        <div data-ui-bookend-item="left">
          <%= component 'button_link', locals: { label: 'Send us a message', url: "mailto:#{data.site.email}" } %>
        </div>
        <div data-ui-bookend-item="right">
          <h2 class="t-scale-zeta t-weight-bold c-text-tertiary display-inline-block padding-x-between-xxnarrow">Say hi:</h2>
          <ul class="list-inline display-inline-block padding-x-between-xxnarrow">
            <% data.site.social.each do |channel| %>
            <li class="list-inline-item padding-x-between-xxnarrow">
              <% link_to channel.url, target: '_blank', title: "Say hi on #{channel.name}" do %>
                <% component 'icon', locals: { id: channel.icon, title: channel.name, role: 'img' } %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<footer data-ui-bookend="horizontal@xsmall" class="padding padding-y-narrow c-theme-dark c-well border-top" role="contentinfo">
  <% link_to "/", data: { "ui-bookend-item": "left" }, style: "max-width: 3.5rem;" do %>
    <%= image_tag 'logos/logo-bivee-reverse-bw.svg', alt: 'Bivee' %>
  <% end %>
  <small data-ui-bookend-item="right" class="l-margin-top-narrow l-no-margin@xsmall t-right@xsmall t-scale-eta c-text-tertiary">
    &copy; Copyright <%= Time.now.year %> Bivee Inc. All rights reserved.
  </small>
</footer>
