<%
  # Main Header component
  # -> the header appearing at the top of every page

  # Locals:
  overlay ||= false # BOOLEAN (optional): turn on 'overlay' styles for the header
  theme ||= 'dark' # STRING (optional): color theme
  classes ||= false # STRING (optional): any additional classes to pass in
  breakpoint ||= 'medium'

  props = [
    ("overlay" if overlay)
  ]

  utils = [
    'padding-x-wide',
    'padding-y-narrow',
    ("c-theme-#{theme}" unless overlay)
  ]
%>

<header data-ui-main-header<%= props_list(props) %><%= class_list(utils) %> role="banner">
  <div data-ui-bookend="horizontal">

    <!-- logo -->
    <div data-ui-bookend-item="left" class="t-align-center">
      <% link_to '/', class: 'display-inline-block t-decoration-none' do %>
        <%= image_tag "logos/logo-bivee-red-reverse.svg", class: 'display-inline-block', alt: 'Bivee', style: 'max-width: 5em;' %>
      <% end %>
    </div>

    <!-- main menu -->
    <nav data-ui-bookend-item="right">

      <!-- horizontal nav for larger screens -->
      <div data-ui-gutter="narrow">
        <div data-ui-gutter-item class="display-inline-block">
          <ul data-ui-main-header-menu class="padding-x-between-narrow">
            <% data.site.main_nav.each do |item| %>
              <%
                list_classes = [
                  (item.priority > 1 ? "hide-visually show-visually-above@#{breakpoint}" : '')
                ]
                link_classes = [
                  't-scale-eta',
                  't-decoration-hover',
                  (item.highlight && 'c-highlight')
                ]
              %>
              <li<%= class_list(list_classes) %>>

                <%= link_to item.title, item.url, class: link_classes.join(' ').rstrip %>
              </li>
            <% end %>
          </ul>
        </div>

        <!-- flyout nav for small screens -->
        <div data-ui-gutter-item class="display-inline-block hide-above@<%= breakpoint %>">
          <button data-ui-button="incognito flyout" data-js-toggle="main-nav-flyout">
            <%= component "icon", locals: { id: "arrow-right", size: "large" } %>
            <%= component "icon", locals: { id: "close", size: "large" } %>
          </button>
          <div data-ui-button-flyout class="t-align-left padding-narrow c-theme-default" id="main-nav-flyout">
            <ul class="list-undecorated">
              <% data.site.main_nav.each do |item| %>
                <% if item.priority > 1 %>
                  <li>
                    <%
                      link_classes = [
                        't-scale-eta',
                        't-decoration-hover',
                        (item.highlight && 'c-highlight')
                      ]
                    %>
                    <%= link_to item.title, item.url, class: link_classes.join(' ').rstrip %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
