<%
  # Main Footer component
  # -> the footer appearing at the bottom of every page

  hide_contact ||= false # BOOLEAN (optional): hide the contact form
%>

<% unless hide_contact %>
  <!-- Contact us -->
  <% component 'panel', locals: { theme: 'dark', painted: rand(1..9), id: 'contact' } do %>
    <% component 'wrapper', locals: { width: 'narrow' } do %>
      <h1 class="t-scale-beta t-align-center padding-bottom"><%= data.site.contact.headline %></h1>
       <%= "<p class='t-content'>#{data.site.contact.intro}</p>" if data.site.contact.intro %>

      <ul class="list-undecorated padding-top margin-y-between">
        <% data.site.contact.locations.each_with_index do |location, index| %>
          <li>
            <h2 class="t-scale-delta padding-bottom-xxnarrow c-highlight"><%= location.name %></h2>
            <p><%= location.address %></p>
          </li>
        <% end %>
      </ul>

      <!-- message & social buttons -->
      <div class="margin-top padding-top border-top t-align-center t-align-left@xsmall">
        <div data-ui-bookend="horizontal@small" data-ui-gutter="flush">
          <div data-ui-bookend-item="left" data-ui-gutter-item>
            <div data-ui-gutter="flush narrow">
              <!-- Email button -->
              <div data-ui-gutter-item class="display-inline-block">
                <%= component 'button_link', locals: { label: 'Send us a message', url: "mailto:#{data.site.contact.email}", role: 'primary' } %>
              </div>
              <p data-ui-gutter-item class="display-inline-block t-scale-zeta c-text-secondary"><%= data.site.contact.email %></p>
            </div>
          </div>
          <!-- Social channels -->
          <div data-ui-bookend-item="right" data-ui-gutter-item>
            <div data-ui-gutter="flush xxnarrow">
              <h2 data-ui-gutter-item class="t-font-body t-scale-zeta c-text-secondary display-inline-block">Say hi:</h2>
              <ul data-ui-gutter-item class="list-inline display-inline-block padding-x-between-xxnarrow">
                <% data.site.contact.social.each do |channel| %>
                <li class="list-inline-item">
                  <% link_to channel.url, class: 'c-text-primary t-scale-zeta t-decoration-none', target: '_blank', title: "Say hi on #{channel.name}" do %>
                    <% component 'icon', locals: { id: channel.icon, title: channel.name, role: 'img' } %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<footer class="c-theme-dark c-well border-top padding-x padding-y-narrow" role="contentinfo">
  <div data-ui-gutter="flush narrow">
    <div data-ui-bookend="horizontal@xsmall">
      <div data-ui-bookend-item="left" class="t-align-center t-align-left@xsmall">
        <% link_to '/', data: { 'ui-gutter-item': '' }, class: 'display-inline-block t-decoration-none', style: 'max-width: 5rem;' do %>
          <%= image_tag 'logos/logo-bivee-red-reverse.svg', alt: 'Bivee' %>
        <% end %>
      </div>
      <small data-ui-bookend-item="right" data-ui-gutter-item class="l-margin-top-narrow l-no-margin@xsmall t-align-center t-align-right@xsmall t-scale-eta c-text-tertiary">
        &copy; Copyright <%= Time.now.year %> Bivee Inc. All rights reserved.
      </small>
    </div>
  </div>
</footer>
