<%
  # Panel component
  # -> For short content in scrolling sections. Meant to be full-width.

  slug ||= false # STRING: a slug header for the top of the panel, e.g. "Recent work"
  theme ||= "default" # STRING: name of color theme, e.g. "reverse" or "wash"
  classes ||= false # STRING: additional modifier classes for the container
  borders ||= [ "top" ] # ARRAY: sides you want borders on. Pass "none" for no borders.

  # make a list of border classes from the borders array
  border_list = ""

  if borders != "none"
    borders.each do |side|
      border_list << " border-#{side}"
    end
  end
%>

<section class="l-padding-top-extra_wide l-padding-bottom-extra_wide<%= border_list %><%= " c-theme-#{theme}" if theme != "default" %><%= " #{classes}" if classes %>">
  <% if slug %>
    <span class="t-heading t-heading--slug t-scale-zeta t-centered"><%= slug %></span>
  <% end %>
  <%= yield %>
</section>
