<%
  # Staff list
  # -> A grid of staff listings

  # Locals:
  # staff - ARRAY: the staff to display
  classes ||= false # STRING: additional modifier classes, if needed
%>

<ul data-ui-gallery="small default@small large@medium"<%= class_list(classes) if classes %>>
  <% staff.each do |profile| %>
    <li data-ui-gallery-item>
      <% link_to profile.url, class: 'display-flex-fill display-block t-align-center t-decoration-none' do %>
        <%= component 'fluid_aspect_image', locals: {
          source: "assets/images/portraits/#{profile.data.portrait.thumb}",
          bg_size: 'cover',
          alt: profile.data.name,
          classes: 'border-round border'
        } %>
        <h3 class="t-scale-delta padding-bottom-xxnarrow padding-top-narrow"><%= profile.data.name %></h3>
        <% unless profile.data.role.level == 'Team' %>
          <p class="t-heading t-weight-bold t-scale-zeta c-highlight padding-bottom-xxnarrow"><%= profile.data.role.level %></p>
        <% end %>
        <p class="t-heading t-scale-zeta c-text-secondary"><%= profile.data.role.title %></p>
      <% end %>
    </li>
  <% end %>
</ul>
