<% wrap_layout :layout do %>
    <article class="l-wrapper">
        <header class="l-wrapper--narrow l-margin--bottom">
            <h1 class="title"><%= current_page.title %></h1>
            <span class="title-sub delta">By <%= link_to current_page.data.author, "/staff/profile" %></span>
            <time class="title-sub epsilon"><%= current_page.date %></time>
            <% if current_page.tags.present? %>
            <span class="epsilon"></span>
            <dl class="l-list-inline">
                <dt>Filed under:</dt>
                <% current_page.tags.each do |tag| %>
                <dd><%= tag %></dd>
                <% end %>
            </dl>
            <% end %>
        </header>
        <main class="l-wrapper--narrow">
            <%= yield %>
        </main>
    </article>
<% end %>
