<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Use title if it's in the page frontmatter -->
        <title><%= data.site.title %><% if current_resource.data.title.present? && current_resource.data.title != "home" %> | <%= current_resource.data.title %><% end %></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <%= javascript_include_tag "vendor/modernizr-custom.min.js", "vendor/picturefill.min.js" %>
        <%= stylesheet_link_tag "vendor/normalize.css", "main" %>
    </head>

    <body>
        <header class="main_header" role="banner">
            <%= link_to "Bivee", "/", :class => "logo logo--bivee" %>
            <nav class="main_header-nav">
                <ul>
                    <li><%= link_to "Work", "/case_studies", :class => "main_nav-item" %></li>
                    <li><%= link_to "About", "/about", :class => "main_nav-item" %></li>
                    <li><%= link_to "Blog", "/blog", :class => "main_nav-item" %></li>
                </ul>
            </nav>
            <%= link_to "Contact", "#", :class => "main_header-utility_nav" %>
        </header>

        <%= yield %>

        <footer class="l-wrapper l-margin--top border--top" role="contentinfo">
            <%= link_to "Bivee", "/", :class => "l-margin--bottom" %>
            <section class="border--bottom l-margin--bottom">
                <h3>Contact us</h3>
                <a href="mailto:admin@bivee.co">admin@bivee.co</a> * 555.555.5555
            </section>
            <small class="l-inline l-margin--bottom">&copy; Copyright <%= Time.now.year %> Bivee, Inc. All rights reserved.</small>
        </footer>

        <%= javascript_include_tag "main" %>
    </body>
</html>
