<%#
    Staff Profile layout
    - a bio & details of each staff person
%>

<% wrap_layout :layout do %>
  <%# header %>
  <%= component 'main_header' %>

  <!-- Staff profile -->
  <article class="margin-bottom-xwide padding-y-wide padding-x-outside">
    <% component 'wrapper', locals: { classes: 'padding-bottom' } do %>
      <div class="border-markers-corners">
        <%= component 'responsive_image', locals: {
          source: current_page.data.portrait.full_size.source,
          sizes: current_page.data.portrait.full_size.sizes,
          alt: current_page.data.name,
          classes: 'border border-xthick c-border-island'
        } %>
      </div>
    <% end %>
    <% component 'wrapper', locals: { width: 'narrow' } do %>

      <!-- name & job title (if any) -->
      <header class="padding-bottom t-align-center">
  	    <h1 class="t-scale-beta"><%= current_page.data.name %></h1>

        <% if current_page.data.job_title %>
          <p class="t-heading t-scale-epsilon c-highlight padding-top-xxnarrow">
            <%= current_page.data.job_title %>
          </p>
        <% end %>
    	</header>

      <%= yield %>

      <!-- website link -->
      <% if current_page.data.website %>
        <div class="padding-top t-align-center">
          <%= component 'button_link', locals: {
            label: "Visit #{current_page.data.name.split(' ').first}'s website",
            url: current_page.data.website,
            options: {
              target: '_blank'
            }
          } %>
        </div>
      <% end %>
    <% end %>
  </article>

  <!-- other people -->
  <%= component 'people_footer', locals: {
    exclude: [ current_page.data.name ]
  } %>
<% end %>
