<%#
    Staff Profile layout
    - a bio & details of each staff person
%>

<% wrap_layout :layout do %>
  <%# header %>
  <%= component 'main_header', locals: { theme: 'dark' } %>

  <!-- Staff profile -->
  <article class="margin-bottom-xwide padding-wide">
    <% component 'wrapper', locals: { classes: 'padding-bottom-wide' } do %>
      <%= component 'responsive_image', locals: {
        source: portrait_source(current_page.data.portrait.full_size),
        alt: current_page.data.name,
        classes: 'border-round-large'
      } %>
    <% end %>
    <% component 'wrapper', locals: { width: 'narrow' } do %>
      <header class="padding-bottom t-align-center">
  	    <h1 class="t-scale-alpha"><%= current_page.data.name %></h1>
        <p data-ui-gutter="xnarrow" class="t-heading t-scale-delta c-accent">
          <span data-ui-gutter-item class="display-inline-block"><%= current_page.data.job_title %></span>
        </p>
    	</header>
      <%= yield %>
    <% end %>
  </article>

  <!-- List of other staff -->
  <% component 'panel', locals: { theme: 'light', painted: rand(1..9) } do %>
    <% component 'wrapper', locals: { width: 'wide' } do %>
  		<h1 class="t-heading t-scale-beta t-align-center padding-bottom-wide"><%= data.site.staff.headline.nav %></h1>
  		<%= component "staff_list", locals: { staff: find_staff_profiles(exclude: [ current_page.data.name ]), classes: "l-margin-top-wide" } %>
    <% end %>
  <% end %>
<% end %>
