<% wrap_layout :layout do %>
    <section class="l-wrapper">
        <header>
            <h1><%= current_page.data.full_name %></h1>
            <span class="field"><%= current_page.data.job_title %></span>
            <%= image_tag lorem.image('600x300') %>
        </header>
        <% if current_page.data.interests.present? %>
        <dl class="metadata">
            <dt>Interests:</dt>
            <% current_page.data.interests.each do |interest| %>
            <dd><%= interest %></dd>
            <% end %>
        </dl>
        <% end %>
        <% if current_page.data.links.present? %>
        <ul class="metadata">
            <% current_page.data.links.each do |link| %>
            <li><%= link_to link.name, link.url %></li>
            <% end %>
        </ul>
        <% end %>
        <main>
            <%= yield %>
        </main>
    </section>
    <section class="l-wrapper has-border has-border--top has-margin has-margin--top">
        <h1><%= current_page.data.title %>'s posts</h1>
        <ul>
            <% blog("writing").articles.each do |article| %>
            <% if article.data.author == current_page.data.full_name %>
                <li class="reference">
                    <h2><%= link_to article.title, article %></h2>
                    <p><%= lorem.sentences rand(2...4) %></p>
                    <%= link_to "Read more &rsaquo;", article %>
                </li>
            <% end %>
            <% end %>
        </ul>
    </section>
    <!-- <nav class="l-wrapper has-border has-border--top has-margin has-margin--top">
        <h1>More people</h1>

    </nav> -->
<% end %>
