<%#
    Staff Profile layout
    - a bio & details of each staff person
%>

<% wrap_layout :layout do %>
  <%= component "main_header", locals: { theme: 'dark' } %>

  <!-- Staff profile -->
  <article class="padding-top-xwide margin-bottom-xwide">
    <% component 'wrapper', locals: { width: 'narrow' } do %>
    <%= image_tag "portraits/#{current_page.data.portrait.full_size}", alt: current_page.data.name %>
      <header class="padding-top-wide padding-bottom t-align-center">
  	    <h1 class="t-scale-alpha"><%= current_page.data.name %></h1>
  	    <p class= "t-heading c-highlight padding-top-xnarrow">
          <% unless current_page.data.role.level == 'Team' %><span class="t-weight-bold"><%= current_page.data.role.level %></span> | <% end %><%= current_page.data.role.title %></p>
    	</header>
      <%= yield %>
    <% end %>
  </article>

  <!-- List of other staff -->
  <% component 'panel', locals: { theme: 'midtone' } do %>
  	<div class="l-wrapper l-wrapper--wide">
  		<h1 class="t-heading t-scale-cappa t-align-center padding-bottom-wide"><%= data.site.staff.headline.nav %></h1>
  		<%= component "staff_list", locals: { staff: find_staff_profiles(exclude: [ current_page.data.name ]), classes: "l-margin-top-wide" } %>
  	</div>
  <% end %>
<% end %>
