---
title: Person name
---

<section class="l-wrapper">
    <header>
        <h1>Person's name</h1>
        <span class="field">Job title</span>
        <%= image_tag lorem.image('600x300') %>
    </header>
    <dl class="metadata">
        <dt>Interests:</dt>
        <dd>Sloths</dd>
        <dd>CSS</dd>
        <dd>IA</dd>
    </dl>
    <ul class="metadata">
        <li>Website</li>
        <li>Twitter</li>
    </ul>
    <p><strong>Bio</strong> <%= lorem.sentences 5 %></p>
    <p><%= lorem.sentences 3 %></p>
</section>
<section class="l-wrapper has-border has-border--top has-margin has-margin--top">
    <h1>[Person]'s writing and photos</h1>
    <ul>
        <% (0...4).each do %>
        <li class="reference">
            <h2><%= link_to "Article title", "/blog/article" %></h2>
            <p><%= lorem.sentences rand(2...4) %></p>
            <%= link_to "Read more &rsaquo;", "/blog/article" %>
        </li>
        <%= render_partial "photo" %>
        <% end %>
    </ul>
</section>
<!-- <nav class="l-wrapper has-border has-border--top has-margin has-margin--top">
    <h1>More people</h1>

</nav> -->
