---
title: Case Studies
---

<div class="l-wrapper">
    <h1>Case Studies</h1>
    <p><strong>Intro?</strong> <%= lorem.sentences 6 %></p>

    <section class="reference">
        <% link_to "/work/case_study" do %><%= image_tag lorem.image('600x300') %><% end %>
        <h2><%= link_to "Featured case study title", "/work/case_study" %></h2>
        <p><%= lorem.sentences rand(3...6) %></p>
        <%= link_to "read more &rsaquo;", "/work/case_study" %>
    </section>

    <ul>
        <% (0...5).each do %>
        <li class="reference">
            <% link_to "/work/case_study" do %><%= image_tag lorem.image('100x100') %><% end %>
            <h2><%= link_to "Case study title", "/work/case_study" %></h2>
            <p><%= lorem.sentences rand(3...6) %></p>
            <%= link_to "read more &rsaquo;", "/work/case_study" %>
        </li>
        <% end %>
    </ul>
</div>
