<%= component "main_header", locals: { theme: 'dark', borders: 'bottom' } %>

<article>
  <!-- Cover image, and title -->
  <header class="padding-x-wide padding-top-xwide padding-bottom-wide border-bottom c-theme-dark">
    <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center' } do %>
      <%= image_tag project.client.logo
      <h1 class="padding-bottom"><%= title %></h1>
      <p class="t-heading t-scale-epsilon c-text-secondary">
        <time class="t-weight-bold"><%= project.date %></time> | <%= project.type %>
      </p>
      <a class="display-inline-block margin-top-wide" href="#main_content">
        <%= component 'icon', locals: { id: 'arrow-down' } %>
      </a>
    <% end %>
  </header>

  <!-- Main content: sections -->
  <main id="main_content">
    <% sections = sitemap.resources.select {|r| r.data.project == project.slug || r.data.project == project.title }.sort_by {|r| r.data.weight } %>
    <% sections.each do |section| %>
      <% component 'panel', locals: { slug: false } do %>
        <% component 'wrapper', locals: { width: 'narrow' } do %>
          <h1 class="t-heading t-scale-beta t-align-center padding-bottom-wide"><%= section.data.title %></h1>
          <div class="t-content">
            <%= section.render layout: false %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </main>
</article>

<!-- Case studies local nav -->
<% if data.case_studies.projects.length > 1 %>
  <% component 'panel', locals: { theme: 'midtone', classes: 'c-well' } do %>
    <% component 'wrapper', locals: { width: 'wide' } do %>
      <h1 class="padding-bottom-wide t-align-center"><%= data.case_studies.headline.nav %></h1>
      <%= component 'case_studies_list', locals: {
        projects: data.case_studies.projects,
        exclude: project.slug
      } %>
    <% end %>
  <% end %>
<% end %>
