<%= component "main_header", locals: {
  theme: 'dark',
  overlay: true
} %>

<article>
  <!-- Cover image, and title -->
  <header class="padding-x-wide padding-top-xwide padding-bottom-wide border-bottom c-theme-dark">
    <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center' } do %>
      <%= image_tag project.client.logo, alt: project.client.name, style: 'max-width: 13em; max-height: 12em;' %>
      <h1 class="padding-top-wide"><%= project.title.long %></h1>
      <% if project.title.subtitle %>
        <p class="t-heading t-scale-beta c-highlight padding-top-narrow"><%= project.title.subtitle %></p>
      <% end %>
      <div class="padding-top">
        <p data-ui-gutter="flush narrow" class="t-heading t-scale-epsilon c-text-secondary">
          <time data-ui-gutter-item class="display-inline-block t-weight-bold"><span class="padding-right-xnarrow border-right"><%= project.date %></span></time><span data-ui-gutter-item class="display-inline-block"><%= project.type %></span>
        </p>
      </div>
      <a class="display-inline-block margin-top-wide t-decoration-none c-accent" href="#main_content">
        <%= component 'icon', locals: { id: 'arrow-down' } %>
      </a>
    <% end %>
  </header>

  <!-- Main content: sections -->
  <main id="main_content">
    <% sections = sitemap.resources.select {|r| r.data.project == project.slug || r.data.project == project.title.short }.sort_by {|r| r.data.weight } %>
    <% sections.each do |section| %>
      <% component 'panel', locals: { slug: false } do %>
        <% component 'wrapper', locals: { width: 'narrow' } do %>
          <h1 class="t-heading t-scale-beta t-align-center padding-bottom-wide"><%= section.data.title %></h1>
          <div class="t-content">
            <%= section.render layout: false %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </main>
</article>

<!-- Case studies local nav -->
<% if data.case_studies.projects.length > 1 %>
  <% component 'panel', locals: { theme: 'light', painted: rand(1..9) } do %>
    <%# temporarily use local styles to keep single thumb from being huge %>
    <% component 'wrapper', locals: { style: 'width: 21rem;' } do %>
      <h1 class="t-scale-beta padding-bottom-wide t-align-center"><%= data.case_studies.headline.nav %></h1>
      <%= component 'case_studies_list', locals: {
        projects: data.case_studies.projects,
        exclude: project.slug,
        color: 'white'
      } %>
    <% end %>
  <% end %>
<% end %>
