---
title: home
---

<div class="l-wrapper">
    <h1>Bivee's awesome new website</h1>
    <small><strong>Note:</strong> this is color coded, for the moment, like the object model. Metadata is <span class="metadata l-inline">red</span>, references are <span class="reference l-inline">blue</span>.</small>
    <section class="reference">
        <% link_to "/work/case_study" do %><%= image_tag lorem.image('600x300') %><% end %>
        <h2><%= link_to "Featured case study title", "/work/case_study" %></h2>
        <p><%= lorem.sentences rand(3...6) %></p>
        <%= link_to "Read more &rsaquo;", "/work/case_study" %> |
        <%= link_to "More case studies &rsaquo;", "case_studies" %>
    </section>
    <section>
        <h1>A quick intro about us</h1>
        <p><%= lorem.sentences 3 %></p>
        <%= link_to "More about us &rsaquo;", "about", :class => "reference" %>
    </section>
    <section class="field">
        <h1>Clients</h1>
        <ul>
            <% (1...5).each do %>
            <li class="reference">
                <a href="http://www.worldbank.org"><%= image_tag lorem.image('50x50') %></a>
                <a href="http://www.worldbank.org">Client name</a>
            </li>
            <% end %>
        </ul>
    </section>
    <section class="field">
        <h1>Writing &amp; pictures</h1>
        <% (0...2).each do %>
        <li class="reference">
            <h2><%= link_to "Article title", "/blog/article" %></h2>
            <p><%= lorem.sentences rand(2...4) %></p>
            <%= link_to "Read more &rsaquo;", "/blog/article" %>
        </li>
        <%= render_partial "photo" %>
        <% end %>
    </section>
</div>
