---
title: home
---

<!-- Cover -->
<section class="panel--cover panel--centered border--bottom">
    <div class="panel-content l-wrapper--narrow">
        <h1 class="title">A short clever blurb about us</h1>
        <p><%= lorem.sentences rand(2...4) %></p>
    </div>
</section>

<!-- About us/clients -->
<section class="panel--short panel--centered border--bottom">
    <div class="panel-content l-wrapper--narrow">
        <h1 class="title">A quick intro</h1>
        <p><%= lorem.sentences 3 %></p>
        <%= link_to "Our approach", "about" %> • <%= link_to "Meet our people", "about" %>
        <section class="l-margin--top l-margin--bottom l-padding--top l-padding--bottom border--top">
            <h2 class="title-sub cappa">Some of our awesome clients</h2>
            <ul class="gallery--small gallery--centered">
                <% (1...5).each do %>
                <li class="gallery-item">
                    <a href="http://www.worldbank.org"><%= image_tag lorem.image('50x50') %></a><br />
                    <a href="http://www.worldbank.org">Client name</a>
                </li>
                <% end %>
            </ul>
        </section>
    </div>
</section>

<!-- Featured projects -->
<section class="l-padding--top l-padding-wide">
    <div class="l-wrapper--narrow">
        <h1 class="title beta l-centered">Recent work</h1>
        <p>Intro <%= lorem.sentences 6 %></p>
    </div>

    <div class="l-wrapper">
        <ul class="l-list-undecorated">
            <% blog("work").articles[0...5].each do |project| %>
            <li class="billboard l-margin--top" style="background-image: url('http://placehold.it/1000x400');">
                <div class="billboard-content">
                    <h2 class="title"><%= link_to project.title, project %></h2>
                    <p><%= lorem.sentences rand(2...4) %></p>
                    <%= link_to "read the case study &rsaquo;", project %>
                </div>
            </li>
            <% end %>
        </ul>
        <%= link_to "More work &rsaquo;", "/case_studies" %>
    </div>

</section>
