---
title: home
---

<!-- Cover -->
<section class="panel--cover panel--centered border--bottom">
    <div class="panel-content l-wrapper--narrow">
        <h1 class="t-alpha">We change the way people and organizations work.</h1>
        <p class="t-cappa">We’re an advisory and design firm who can help you build processes, technology, and partnerships to meet your goals.</p>
    </div>
</section>

<!-- Approach blurb -->


<!-- Featured projects -->
<section class="l-padding--top l-padding-wide">
    <div class="l-wrapper--narrow">
        <h1 class="title beta l-centered">Recent work</h1>
        <p>Intro <%= lorem.sentences 6 %></p>
    </div>

    <div class="l-wrapper">
        <ul class="l-list-undecorated">
            <% blog("work").articles[0...5].each do |project| %>
            <li class="billboard l-margin--top" style="background-image: url('http://placehold.it/1000x400');">
                <div class="billboard-content">
                    <h2 class="title"><%= link_to project.title, project %></h2>
                    <p><%= lorem.sentences rand(2...4) %></p>
                    <%= link_to "read the case study &rsaquo;", project %>
                </div>
            </li>
            <% end %>
        </ul>
        <%= link_to "More work &rsaquo;", "/case_studies" %>
    </div>

</section>
