---
title: home
---

<%= component 'main_header', locals: { overlay: true, size: 'large', hide_contact: true } %>

<section class="t-align-center">
  <!-- Cover -->
  <% component 'cover', locals: {
    theme: 'dark',
    padding: { top: 'narrow', bottom: 'xxwide', x: 'wide' }
  } do %>
    <% component 'wrapper' do %>
      <h1 class='padding-top-xxwide'><%= data.site.cover.headline %></h1>
    <% end %>
  <% end %>

  <!-- Intro blurb -->
  <div class="c-theme-dark border-top padding-x-wide padding-y-xwide">
    <% component 'wrapper', locals: {
      width: 'narrow'
    } do %>
      <p class="t-scale-delta"><%= data.site.cover.intro %></p>
    <% end %>
  </div>
</section>

<!-- Work -->
<% component 'panel', locals: { classes: 'c-well' } do %>
  <% component 'blurb', locals: { heading: data.case_studies.headline, borders: 'none' } do %>
    <%= data.case_studies.intro %>
  <% end %>
  <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center' } do %>
    <!-- Gallery of case studies here -->
    <%= component 'button_link', locals: { label: 'More work', url: '#', classes: 'margin-top' } %>
  <% end %>
<% end %>

<!-- Staff -->
<% component 'panel', locals: { theme: 'midtone' } do %>
  <% component 'blurb', locals: { heading: data.site.staff.headline.home } do %>
    <%= data.site.staff.intro %>
  <% end %>
  <!-- list of staff photos -->
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Founders</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/founders') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Directors</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/directors') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Team</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/team') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Subject Matter Experts</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/smes') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
<% end %>
