---
title: home
---

<!-- Cover -->
<% component "cover", locals: { theme: "wash" } do %>
    <h1 class="t-heading t-scale-alpha">We change the way people and organizations work.</h1>
    <p class="t-heading t-heading--sub t-scale-delta c-text-secondary l-margin-top">We’re an advisory and design firm who can help you build processes, technology, and partnerships to meet your goals.</p>
<% end %>

<!-- Approach -->
<% component "panel", locals: { theme: "reverse" } do %>
    <% component "blurb", locals: { heading: "Our approach" } do %>
        <%= lorem.sentences rand(6...8) %>
    <% end %>
<% end %>

<!-- Staff -->
<% component "panel", locals: { borders: "none" } do %>
    <% component "blurb", locals: { heading: "Our team" } do %>
        <% lorem.sentences rand(4...6) %>
    <% end %>
    <!-- list of staff photos -->
    <div class="l-wrapper l-wrapper--wide">
        <% find_staff = sitemap.resources.select {|r| r.path.include?("staff") }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
        <%= component "staff_list", locals: { staff: find_staff, classes: "l-margin-top-wide" } %>
    </div>
<% end %>

<!-- Contact us -->
<% component "panel", locals: { theme: "wash" } do %>
    <% component "blurb", locals: { heading: "Contact us" } do %>
        We’re based in the Washington DC Metro Area but serve clients globally. We’d love to hear about your ideas and the problems you want to solve. Let’s get the conversation started.
    <% end %>

    <!-- contact buttons -->
    <div class="l-wrapper l-wrapper--wide t-centered">

        <!-- email -->
        <div class="button-group button-group--flush button-group--horizontal@xsmall l-margin-top l-margin-right">
            <a class="button" href="mailto:<%= data.site.email %>">
                <%= component "icon", locals: {
                    id: "email",
                    size: "small",
                    margin: "right",
                    role: "presentation"
                } %>
                <strong>Send us a message</strong>
            </a>
            <div class="button">
                <input class="form-field form-field--invisible c-text-primary" id="email_field" type="text" value="<%= data.site.email %>" size="<%= data.site.email.length %>" readonly>
                <button class="button button--text" id="email_to_clipboard" title="Copy to your clipboard" data-clipboard-target="#email_field" data-clipboard-action="copy">
                    <%= component "icon", locals: {
                        id: "clipboard",
                        size: "small",
                        margin: "left",
                        fallback: "&rsaquo; Copy to clipboard"
                    } %>
                </button>
            </div>
        </div>

        <!-- social media channels -->
        <div class="button-group button-group--horizontal l-margin-top l-margin-right">
            <% data.site.social.each do |channel| %>
                <a class="button has-tooltip has-tooltip--hover" href="<%= channel.url %>" title="Say hi on <%= channel.name %>" target="_blank">
                    <%= component "icon", locals: { id: channel.icon, fallback: channel.name } %>
                </a>
            <% end %>
        </div>
    </div>
<% end %>
