---
title: home
---

<div class="l-wrapper">

    <!-- Featured project -->
    <%# show one (".articles[0...2]") with "featured: true" in its frontmatter %>
    <% blog("work").articles[0...2].select{ |a| a.data[:featured] == true }.each do |project| %>
    <section class="reference">
        <% link_to project do %><%= image_tag project.data.cover %><% end %>
        <h1><%= link_to project.title, project %></h1>
        <p><%= lorem.sentences rand(3...6) %></p>
        <%= link_to "Read more &rsaquo;", project %> |
        <%= link_to "More case studies &rsaquo;", "case_studies" %>
    </section>
    <% end %>

    <section>
        <h1>A quick intro about us</h1>
        <p><%= lorem.sentences 3 %></p>
        <%= link_to "More about us &rsaquo;", "about", :class => "reference" %>
    </section>
    <section class="field">
        <h1>Clients</h1>
        <ul class="l-list--undecorated">
            <% (1...5).each do %>
            <li class="reference">
                <a href="http://www.worldbank.org"><%= image_tag lorem.image('50x50') %></a>
                <a href="http://www.worldbank.org">Client name</a>
            </li>
            <% end %>
        </ul>
    </section>
    <section class="field">
        <h1>Blog</h1>
        <ul class="l-list--undecorated">
        <% blog("writing").articles[0...5].each do |article| %>
            <li class="reference">
                <h2><%= link_to article.title, article %></h2>
                <p><%= lorem.sentences rand(2...4) %></p>
                <%= link_to "Read more &rsaquo;", article %>
            </li>
            <%= render_partial "photo" %>
        <% end %>
        </ul>
        <%= link_to "More blog posts &rsaquo;", "blog" %>
    </section>
</div>
