---
title: home
---

<%= component 'main_header', locals: {
  hide_logo: true,
  overlay: true,
  theme: 'dark'
} %>
<section class="t-align-center">
  <!-- Cover -->
  <% component 'cover', locals: {
    bg_image: '/assets/images/covers/ink-cover%401200w.png',
    padding: { top: 'medium', bottom: 'xxwide', x: 'outside' },
    classes: 'c-bg-painted-wash',
    header_offset: true
  } do %>
    <%= component 'responsive_image', locals: {
      source: {
         '480': '/assets/images/bivee-logo-process@480w.png',
         '800': '/assets/images/bivee-logo-process@800w.png',
        '1200': '/assets/images/bivee-logo-process@1200w.png'
      },
      classes: 'display-block align-center-block',
      style: 'width: 40rem;'
    } %>
    <%= image_tag "logos/logo-bivee-red-reverse.svg",
      data: { 'ui-logo': '' },
      class: 'padding-bottom-narrow padding-top',
      alt: 'Bivee'
    %>
    <h1 class="t-scale-gamma c-text-reverse"><%= data.site.cover.headline %></h1>
  <% end %>

  <!-- Intro blurb -->
  <div class="padding-x-wide padding-bottom-xwide padding-top">
    <% component 'wrapper', locals: {
      width: 'narrow'
    } do %>
      <p class="t-heading t-scale-delta t-leading-default"><%= data.site.cover.intro %></p>
      <%= component 'button_link', locals: { label: 'Why does this work?', url: 'design_thinking', classes: 'margin-top-wide' } %>
    <% end %>
  </div>
</section>

<!-- Work -->
<% component 'panel' do %>
  <% component 'blurb', locals: { heading: data.case_studies.headline.home, borders: 'none' } do %> <%= data.case_studies.intro %>
  <% end %>
  <% component 'wrapper', locals: { width: 'default', classes: 't-align-center padding-top-xwide' } do %>
    <!-- Case study listings -->
    <%= component 'case_studies_list', locals: { projects: data.case_studies.projects } %>

    <%# enable this button when there's more than 3 case studies to display %>
    <%#= component 'button_link', locals: { label: 'More work', url: '#', classes: 'margin-top-wide', role: 'primary' } %>
  <% end %>
<% end %>

<!-- Staff -->
<% component 'panel', locals: {
  theme: 'light',
  painted: true
} do %>
  <h2 class="t-scale-alpha t-align-center"><%= data.site.staff.headline.home %></h2>
  <!-- list of staff photos -->
  <% component 'wrapper', locals: { width: 'wide', padding: { top: 'wide' } } do %>
    <%= component 'people_list', locals: { group: find_people, classes: 't-align-center' } %>
  <% end %>
<% end %>
