---
title: home
---

<header class="t-align-center">
  <!-- Cover -->
  <% component 'cover', locals: {
    theme: 'dark',
    padding: { top: 'medium', bottom: 'xxwide', x: 'wide' }
  } do %>
    <% component 'wrapper' do %>
      <%= image_tag 'logos/logo-bivee-reverse-bw.svg', alt: 'Bivee' %>
      <h1 class='padding-top-xxwide'>Together we can do great things.</h1>
    <% end %>
  <% end %>

  <!-- Intro blurb -->
  <div class="c-theme-dark border-top padding-x-wide padding-y-xwide">
    <% component 'wrapper', locals: {
      width: 'narrow'
    } do %>
      <p class="t-scale-delta">Short blurb explaining/reinforcing the tagline. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui, inquit, si Stoicis concedis ut virtus sola, si adsit vitam efficiat beatam, concedis etiam Peripateticis. Nam, ut sint illa vendibiliora, haec uberiora certe sunt.</p>
    <% end %>
  </div>
</header>

<!-- Approach -->
<% component 'panel', locals: { classes: 'c-well' } do %>
  <% component 'blurb', locals: { heading: 'Our work', borders: 'none' } do %>
    We’re an advisory ﬁrm with experience in strategy, technology, and design development for organizations of all kinds - private, public, academic, and nonprofit. Our team’s diverse background and expertise have allowed us to develop a unique and multidisciplinary approach to our work.
  <% end %>
  <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center' } do %>
    <!-- Gallery of case studies here -->
    <%= component 'button_link', locals: { label: 'More work', url: '#', classes: 'margin-top' } %>
  <% end %>
<% end %>

<!-- Staff -->
<% component 'panel', locals: { theme: 'midtone' } do %>
  <% component 'blurb', locals: { heading: 'Our team' } do %>
    We’re an advisory firm with experience in strategy, technology, and design development for organizations of all kinds – private, public, academic, and nonprofit. Our team’s diverse background and expertise have allowed us to develop a unique and multidisciplinary approach to our work.
  <% end %>
  <!-- list of staff photos -->
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Founders</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/founders') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Directors</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/directors') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Team</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/team') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <h3 class='t-heading t-heading--slug t-scale-epsilon t-align-center padding-bottom padding-top border-top'>Subject Matter Experts</h3>
    <% find_staff = sitemap.resources.select {|r| r.path.include?('staff/smes') }.sort_by {|r| r.data.name }.sort_by {|r| r.data.tribal_dominance } %>
    <%= component 'staff_list', locals: { staff: find_staff, classes: 'l-margin-top-wide t-align-center' } %>
  </section>
<% end %>

<!-- Contact us -->
<% component 'panel', locals: { theme: 'dark' } do %>
  <% component 'blurb', locals: { heading: 'Contact us' } do %>
    We’re based in the Washington DC Metro Area but serve clients globally. We’d love to hear about your ideas and the problems you want to solve. Let’s get the conversation started.
  <% end %>

  <div class='l-wrapper'>
    <h3>Washington, DC:</h3>
    <p>1875 Connecticut Ave NW, Washington, DC 20009</p>
    <h3>Denver, CO:</h3>
    <p>2420 17th St, Denver, CO 80202</p>
  </div>

    <!-- contact buttons -->
    <div class='l-wrapper l-wrapper--wide t-align-center'>

      <!-- email -->
      <div class='button-group button-group--flush button-group--horizontal@xsmall l-margin-top l-margin-right'>
        <a class='button' href='mailto:<%= data.site.email %>'>
          <%= component 'icon', locals: {
            id: 'email',
            size: 'small',
            margin: 'right',
            role: 'presentation'
          } %>
          <strong>Send us a message</strong>
        </a>
        <div class='button'>
          <%# data.site.email %>
          <input class='form-field form-field--invisible c-text-primary' id='email_field' type='text' value='<%= data.site.email %>' size='<%= data.site.email.length %>' readonly>
        </div>
      </div>

      <!-- social media channels -->
      <div class='button-group button-group--horizontal l-margin-top l-margin-right'>
        <% data.site.social.each do |channel| %>
          <a class='button has-tooltip has-tooltip--hover' href='<%= channel.url %>' title='Say hi on <%= channel.name %>' target='_blank'>
              <%= component 'icon', locals: { id: channel.icon, fallback: channel.name } %>
          </a>
        <% end %>
      </div>
  </div>
<% end %>
