---
title: home
---

<section class="t-align-center">
  <!-- Cover -->
  <% component 'cover', locals: {
    bg_image: '/assets/images/covers/ink-cover%401200w.png',
    padding: { top: 'xxwide', bottom: 'xxwide', x: 'wide' }
  } do %>
    <%= image_tag "logos/logo-bivee-red-reverse.svg", class: 'display-inline-block padding-bottom-wide', alt: 'Bivee', style: 'width: 15em;' %>
    <h1 class="t-scale-beta t-leading-default c-text-reverse"><%= data.site.cover.headline %></h1>
  <% end %>

  <!-- Intro blurb -->
  <div class="padding-x-wide padding-bottom-xwide padding-top-wide">
    <% component 'wrapper', locals: {
      width: 'narrow'
    } do %>
      <p class="t-heading t-scale-delta t-leading-default"><%= data.site.cover.intro %></p>
      <%= component 'button_link', locals: { label: 'Why does this work?', url: 'design_thinking', classes: 'margin-top-wide' } %>
    <% end %>
  </div>
</section>

<!-- Work -->
<% component 'panel', locals: { classes: '' } do %>
  <% component 'blurb', locals: { heading: data.case_studies.headline.home, borders: 'none' } do %> <%= data.case_studies.intro %>
  <% end %>
  <% component 'wrapper', locals: { width: 'default', classes: 't-align-center' } do %>
    <!-- Case study listings -->
    <%= component 'case_studies_list', locals: { projects: data.case_studies.projects, classes: 'padding-top-xwide' } %>

    <%# enable this button when there's more than 3 case studies to display %>
    <%#= component 'button_link', locals: { label: 'More work', url: '#', classes: 'margin-top-wide', role: 'primary' } %>
  <% end %>
<% end %>

<!-- Staff -->
<% component 'panel', locals: { theme: 'midtone' } do %>
  <% component 'blurb', locals: { heading: data.site.staff.headline.home } do %>
    <%= data.site.staff.intro %>
  <% end %>
  <!-- list of staff photos -->
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <%= component 'staff_list', locals: { staff: find_staff_profiles, classes: 't-align-center' } %>
  </section>
<% end %>
