---
title: home
---

<!-- Main header -->
<%= component 'main_header', locals: {
  overlay: true,
  size: 'large',
  hide_contact: true,
  logo_color: 'white'
} %>

<section class="t-align-center">
  <!-- Cover -->
  <% component 'cover', locals: {
    bg_image: 'assets/images/covers/cover-drawing.jpg',
    theme: 'dark',
    padding: { top: 'wide', bottom: 'xxwide', x: 'wide' }
  } do %>
    <h1 class="c-text-reverse"><%= data.site.cover.headline %></h1>
  <% end %>

  <!-- Intro blurb -->
  <div class="c-theme-dark border-top padding-x-wide padding-y-xwide">
    <% component 'wrapper', locals: {
      width: 'narrow'
    } do %>
      <p class="t-heading t-scale-gamma t-leading-default"><%= data.site.cover.intro %></p>
    <% end %>
  </div>
</section>

<!-- Work -->
<% component 'panel', locals: { classes: 'c-well' } do %>
  <% component 'blurb', locals: { heading: data.case_studies.headline.home, borders: 'none' } do %> <%= data.case_studies.intro %>
  <% end %>
  <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center' } do %>
    <!-- Case study listings -->
    <%= component 'case_studies_list', locals: { projects: data.case_studies.projects, classes: 'padding-top-wide' } %>

    <%# enable this button when there's more than 3 case studies to display %>
    <%#= component 'button_link', locals: { label: 'More work', url: '#', classes: 'margin-top-wide' } %>
  <% end %>
<% end %>

<!-- Staff -->
<% component 'panel', locals: { theme: 'midtone' } do %>
  <% component 'blurb', locals: { heading: data.site.staff.headline.home } do %>
    <%= data.site.staff.intro %>
  <% end %>
  <!-- list of staff photos -->
  <section class='l-wrapper l-wrapper--wide padding-top-wide'>
    <%= component 'staff_list', locals: { staff: find_staff_profiles, classes: 't-align-center' } %>
  </section>
<% end %>
