<article>
  <%= component "main_header", locals: { theme: 'wash', overlay: true } %>

  <!-- Header, hero image, and title -->
	<header class="l-padding-top-extra_wide t-centered c-theme-wash">
    <div class="l-wrapper l-padding-bottom-wide l-padding-top-wide">
      <span class="t-heading t-heading--slug t-scale-epsilon"><strong>Case study:</strong> <%= type %></span>
      <h1 class="t-heading t-scale-alpha"><%= title %></h1>
    </div>
    <div class="l-wrapper l-wrapper--wide">
      <img src="<%= cover %>">
    </div>
	</header>

  <!-- Main content: sections -->
  <main>
    <% sections = sitemap.resources.select {|r| r.data.project == locals[:slug] || r.data.project == locals[:title] }.sort_by {|r| r.data.weight } %>
    <% sections.each do |section| %>
      <% component "panel", locals: { slug: false } do %>
        <div class="l-wrapper">
          <h2 class="t-heading t-scale-beta t-centered l-padding-bottom"><%= section.data.title %></h2>
          <%= section.render layout: false %>
        </div>
      <% end %>
    <% end %>
  </main>

  <!-- Staff -->
  <% component "panel", locals: { slug: false } do %>
    <div class="l-wrapper l-wrapper--wide">
      <h2 class="t-heading t-scale-beta t-centered">The team</h2>
      <%= component "staff_list", locals: { staff: get_staff_profiles(names: team), classes: "l-margin-top-wide" } %>
    </div>
  <% end %>

</article>

<% component "panel", locals: { theme: "wash", slug: "See more of our work" } do %>
  <div class="l-wrapper l-margin-top-wide">
    <ul class="gallery">
      <li class="gallery-item">
        <span class="t-heading t-heading--sub">Case study</span>
        <p class="t-font-display">An architecture for public-private partnership knowledge</p>
        <p class="t-font-display">World Bank | PPP CCSA</p></li>
      <li class="gallery-item">
      <span class="t-heading t-heading--sub">Case study</span>
      <p class="t-font-display">Development Data Hub</p>
      <p class="t-font-display">World Bank | Development Data Group</li>
      <li class="gallery-item">
      <span class="t-heading t-heading--sub">Case study</span>
      <p class="t-font-display">The road to Sendai</p>
      <p class="t-font-display">Global Facility for Disaster Risk Reduction</li>
    </ul>
  </div>
<% end %>
